body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
    text-align: center;
}

header {
    background: #222;
    color: white;
    padding: 20px;
}

.container {
    margin: 50px;
}

input, textarea {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#complaintList div {
    background: white;
    margin: 20px auto;
    padding: 15px;
    width: 70%;
    border-radius: 10px;
}